<% @page_title = @entry.title + " - " + @entry.author.name + "さんのブログ" %>
<h1><%= @entry.author.name %>さんのブログ</h1>
<h2><%= @entry.title %></h2>

<%= simple_format(@entry.body) %>

<%= render "footer", entry: @entry %>
