<nav class="menubar" id="admin-menubar">
  <ul>
    <%= menu_link_to "管理TOP", :admin_root %>
    <%= menu_link_to "会員管理", :admin_members %>
    <%= menu_link_to "ニュース記事管理", "#" %>
    <%= menu_link_to "TOP", :root %>
  </ul>
</nav>
