div#content p.article_footer {
  border-top: 1px #ccf dashed;
  padding-top: 4px;
  text-align: right;
  font-size: 75%;
}

/* 投票 */
div#content span.vote,
div#content p.vote {
  color: #88c;
}

span.vote a.button,
p.vote a.button {
  border: 1px solid #ccf;
  padding: 0 3px;
  color: #88c;
  background-color: #eef;
  text-decoration: none;
}
