<% @page_title = "マイアカウント" %>

<h1><%= @page_title %></h1>

<ul class="toolbar">
  <%= menu_link_to "アカウント情報の編集", :edit_account %>
  <%= menu_link_to "パスワードの変更", :edit_password %>
</ul>

<%= render "members/body" %>
